<html>
    <head>
        <title>
                Edit option
        </title>
    </head>
    <body style="margin-left: 30px; margin-top: 30px; background: linear-gradient(120deg,#2980b9, #8e44ad);">
        <form action="{{url_for('qust_opt.update_option')}}" method="post">
            <br>
            <h2>Options</h2>
                {% for item in data %}
                <br>
                    <!-- <label for="cars" style="padding: 10px;" >Option  :</label> -->
                    <input type="text" style="padding: 5px;" name="{{item.id}},{{item.questions_to_question_optns}}" id="" value={{item.question_options}}>
                <br>
                {% endfor %}
                <br>
                <input type="submit" value="submit"></input>
        </form>
    </body>
</html>